/*body {
    margin: 60px auto;
    width: 70%;
}*/

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.initial-content,
.search-content {
    flex: 1 0 auto;
}


code {
    margin: 0px 0px;
    padding: 0px 0px;
}

.archive {
    margin-top: 1em;
    margin-bottom: 2em;

    @include breakpoint($large) {
        float: right;
        width: calc(100% - #{$right-sidebar-width-narrow});
        padding-right: $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
        width: calc(100% - #{$right-sidebar-width});
        padding-right: $right-sidebar-width;
    }